/**
 * @package 	WordPress
 * @subpackage 	My Religion
 * @version 	1.1.9
 * 
 * Theme Fonts Rules
 * Created by CMSMasters
 * 
 */


/***************** Start Theme Font Styles ******************/

	/* Start Content Font */
	.wpcf7-form-control-wrap,
	body {
		font-family:'Source Sans Pro', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:15px;
		line-height:22px;
		font-weight:normal;
		font-style:normal;
	}
	
	.cmsmasters_icon_list_items li:before {
		line-height:22px;
	}
	/* Finish Content Font */


	/* Start Link Font */
	a {
		font-family:'Source Sans Pro', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:15px;
		line-height:22px;
		font-weight:normal;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	
	a:hover {
		text-decoration:none;
	}
	/* Finish Link Font */


	/* Start Navigation Title Font */
	.navigation .menu-item-mega-container > ul > li > a .nav_title,
	.navigation > li > a {
		font-family:'Montserrat', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:12px;
		line-height:20px;
		font-weight:700;
		font-style:normal;
		text-transform:uppercase;
	}
	
	.navigation .menu-item-mega-container > ul > li > a .nav_title {
		font-size:11px;
		font-weight:normal;
	}
	/* Finish Navigation Title Font */


	/* Start Navigation Dropdown Font */
	.header_top,
	.header_top a,
	.navigation ul li a,
	.navigation > li > a .nav_subtitle,
	.navigation > li > a .nav_tag,
	.top_line_nav > li > a,
	.top_line_nav ul li a {
		font-family:'Source Sans Pro', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:14px;
		line-height:20px;
		font-weight:normal;
		font-style:normal;
		text-transform:none;
	}
	
	.navigation > li > a .nav_subtitle {
		font-size:13px;
		line-height:15px;
	}
	
	.top_line_nav ul li a,
	.top_line_nav > li > a,
	.header_top,
	.header_top a {
		font-size:12px;
	}
	
	.header_top .meta_wrap > *[class^="cmsmasters-icon-"]:before, 
	.header_top .meta_wrap > *[class*=" cmsmasters-icon-"]:before, 
	.header_top .meta_wrap > *[class^="cmsmasters_theme_icon_"]:before, 
	.header_top .meta_wrap > *[class*=" cmsmasters_theme_icon_"]:before {
		font-size:14px;
	}
	
	@media only screen and (max-width: 1024px) {
		#header .header_mid .search_wrap .search_bar_wrap .search_field input {
			font-size:30px;
			line-height:40px;
		}
	}
	/* Finish Navigation Dropdown Font */


	/* Start H1 Font */
	h1,
	h1 a,
	.cmsmasters_pricing_table .cmsmasters_currency, 
	.cmsmasters_pricing_table .cmsmasters_price,
	.cmsmasters_pricing_table .cmsmasters_coins,
	.cmsmasters_quotes_slider_type_center .cmsmasters_quote_content,
	.cmsmasters_post_timeline .cmsmasters_post_day,
	#header .search_wrap .search_bar_wrap .search_field input,
	.logo .title {
		font-family:'Montserrat', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:42px;
		line-height:48px;
		font-weight:bold;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	
	.cmsmasters_dropcap {
		font-family:'Montserrat', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-weight:bold;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	
	.cmsmasters_quotes_slider_type_center .cmsmasters_quote_placeholder:before,
	.cmsmasters_quotes_slider_type_box .cmsmasters_quote_header:before,
	blockquote:before,
	.cmsmasters_quotes_grid .cmsmasters_quotes_list:after,
	.cmsmasters_icon_list_items.cmsmasters_icon_list_icon_type_number .cmsmasters_icon_list_item .cmsmasters_icon_list_icon:before,
	.cmsmasters_icon_box.box_icon_type_number:before,
	.cmsmasters_icon_box.cmsmasters_icon_heading_left.box_icon_type_number .icon_box_heading:before {
		font-family:'Montserrat', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-weight:bold;
		font-style:normal;
	}
	
	.cmsmasters_post_timeline .cmsmasters_post_day {
		font-size:50px;
	}
	
	.cmsmasters_quotes_slider_type_center .cmsmasters_quote_content {
		font-size:40px;
		line-height:60px;
	}
	
	.cmsmasters_pricing_table .cmsmasters_currency, 
	.cmsmasters_pricing_table .cmsmasters_price, 
	.cmsmasters_pricing_table .cmsmasters_coins {
		font-size:36px;
		line-height:36px;
	}
	
	.cmsmasters_quotes_slider_type_box .cmsmasters_quote_header:before {
		font-size:50px; /* static */
		line-height:50px; /* static */
	}
	
	#header .search_wrap .search_bar_wrap .search_field input {
		font-size:60px; /* static */
		line-height:70px; /* static */
	}
	
	.cmsmasters_quotes_slider_type_center .cmsmasters_quote_placeholder:before {
		font-size:120px; /* static */
		line-height:170px; /* static */
	}
	
	blockquote:before {
		font-size:50px; /* static */
		line-height:50px; /* static */
	}
	
	.cmsmasters_dropcap.type1 {
		font-size:36px; /* static */
	}
	
	.cmsmasters_dropcap.type2 {
		font-size:20px; /* static */
	}
	
	.headline_outer .headline_inner .headline_icon:before {
		font-size:47px;
	}
	
	.headline_outer .headline_inner.align_center .headline_icon:before {
		font-size:63px;
	}
	
	.headline_outer .headline_inner.align_left .headline_icon {
		padding-left:47px;
	}
	
	.headline_outer .headline_inner.align_right .headline_icon {
		padding-right:47px;
	}
	
	.headline_outer .headline_inner.align_center .headline_icon {
		padding-top:63px;
	}
	/* Finish H1 Font */


	/* Start H2 Font */
	h2,
	h2 a,
	.cmsmasters_counters .cmsmasters_counter_wrap .cmsmasters_counter .cmsmasters_counter_inner .cmsmasters_counter_counter_wrap,
	.cmsmasters_stats.stats_mode_circles .cmsmasters_stat_wrap .cmsmasters_stat .cmsmasters_stat_inner .cmsmasters_stat_counter_wrap .cmsmasters_stat_counter, 
	.cmsmasters_sitemap_wrap .cmsmasters_sitemap > li > a {
		font-family:'Montserrat', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:28px;
		line-height:36px;
		font-weight:bold;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	
	.cmsmasters_counters .cmsmasters_counter_wrap .cmsmasters_counter .cmsmasters_counter_inner .cmsmasters_counter_counter_wrap {
		font-size:44px;
	}
	
	.cmsmasters_counters .cmsmasters_counter_wrap .cmsmasters_counter.counter_has_icon .cmsmasters_counter_inner .cmsmasters_counter_counter_wrap,
	.cmsmasters_counters .cmsmasters_counter_wrap .cmsmasters_counter.counter_has_image .cmsmasters_counter_inner .cmsmasters_counter_counter_wrap {
		font-size:32px;
	}
	
	.cmsmasters_open_post .cmsmasters_post_header .cmsmasters_post_title,
	.cmsmasters_post_default .cmsmasters_post_header .cmsmasters_post_title,
	.cmsmasters_post_default .cmsmasters_post_header .cmsmasters_post_title a {
		font-size:30px;
	}
	
	.cmsmasters_archive_item_title a,
	.cmsmasters_archive_item_title {
		font-size:24px;
		line-height:32px;
	}
	
	.cmsmasters_stats.stats_mode_circles .cmsmasters_stat_wrap .cmsmasters_stat .cmsmasters_stat_inner .cmsmasters_stat_counter_wrap .cmsmasters_stat_counter {
		font-size: 32px;
	}
	/* Finish H2 Font */


	/* Start H3 Font */
	h3,
	h3 a {
		font-family:'Montserrat', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:20px;
		line-height:26px;
		font-weight:bold;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	
	#cancel-comment-reply-link,
	.comment-reply-title,
	.post_comments_title,
	.cmsmasters_single_slider_title,
	.about_author_title {
		font-size:18px;
	}
	/* Finish H3 Font */


	/* Start H4 Font */
	h4, 
	h4 a, 
	.cmsmasters_twitter_wrap .cmsmasters_twitter_item_content,
	.cmsmasters_twitter_wrap .cmsmasters_twitter_item_content a,
	.cmsmasters_quotes_slider_type_center .cmsmasters_quote_subtitle_wrap a,
	.cmsmasters_quotes_slider_type_center .cmsmasters_quote_subtitle_wrap,
	.cmsmasters_sitemap_wrap .cmsmasters_sitemap > li > ul > li > a, 
	.cmsmasters_sitemap_wrap .cmsmasters_sitemap_category > li > a {
		font-family:'Crimson Text', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:20px;
		line-height:24px;
		font-weight:normal;
		font-style:italic;
		text-transform:none;
		text-decoration:none;
	}
	
	.cmsmasters_quotes_slider_type_center .cmsmasters_quote_title {
		font-size:28px;
		line-height:32px;
	}
	
	.cmsmasters_profile_horizontal .cmsmasters_profile_header .cmsmasters_profile_subtitle {
		font-size:18px;
	}
	/* Finish H4 Font */


	/* Start H5 Font */
	h5,
	h5 a,
	.widget_nav_menu ul li a,
	.widget_rss ul li .rsswidget,
	.tribe-events-list .cmsmasters_featured_event, 
	.tribe-events-photo .tribe-event-featured .cmsmasters_featured_event, 
	.widget_custom_posts_tabs_entries .cmsmasters_tabs .cmsmasters_lpr_tabs_cont > a,
	.cmsmasters_stats.stats_mode_circles .cmsmasters_stat_wrap .cmsmasters_stat .cmsmasters_stat_inner .cmsmasters_stat_counter_wrap .cmsmasters_stat_units,
	.cmsmasters_stats .cmsmasters_stat_wrap .cmsmasters_stat_title, 
	.cmsmasters_toggles .cmsmasters_toggle_title a,
	.cmsmasters_tabs .cmsmasters_tabs_list_item a,
	.widget .widgettitle,
	.post_nav a,
	table thead th,
	table tfoot td {
		font-family:'Montserrat', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:16px;
		line-height:22px;
		font-weight:bold;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	
	table thead th,
	table tfoot td {
		font-size:15px;
		font-weight:normal;
	}
	
	.tribe-events-list .cmsmasters_featured_event {	
		font-size:12px;
		line-height:18px;
	}
	
	.cmsmasters_comment_item .cmsmasters_comment_item_title,
	.cmsmasters_comment_item .cmsmasters_comment_item_title a,
	.cmsmasters_single_slider .cmsmasters_single_slider_item_title,
	.cmsmasters_single_slider .cmsmasters_single_slider_item_title a {
		font-size:14px;
		line-height:20px;
	}
	
	.widget_custom_posts_tabs_entries .cmsmasters_tabs .cmsmasters_lpr_tabs_cont,
	.widget_custom_posts_tabs_entries .cmsmasters_tabs .cmsmasters_lpr_tabs_cont > a {
		font-size:13px;
		line-height:18px;
	}
	
	.tribe-events-photo .tribe-event-featured .cmsmasters_featured_event {
		font-size:11px;
		line-height:17px;
	}
	
	.widget_nav_menu ul li a,
	.widget_custom_posts_tabs_entries .cmsmasters_tabs .cmsmasters_tabs_list_item a {
		font-size:11px;
	}
	
	.widget_nav_menu ul li a {
		text-transform:uppercase;
	}
	
	.cmsmasters_stats.stats_mode_circles .cmsmasters_stat_wrap .cmsmasters_stat .cmsmasters_stat_inner .cmsmasters_stat_counter_wrap .cmsmasters_stat_units {
		font-weight:normal;
	}
	/* Finish H5 Font */


	/* Start H6 Font */
	h6,
	h6 a,
	.cmsmasters_comment_item .cmsmasters_comment_item_date,
	.widget_tag_cloud a,
	.widget_rss ul li .rss-date,
	.widget_rss ul li cite,
	.cmsmasters_widget_project_cont_info .cmsmasters_slider_project_category a,
	.cmsmasters_widget_project_cont_info .cmsmasters_slider_project_category,
	.widget_custom_twitter_entries .tweet_time,
	.widget_pages *, 
	.widget_categories *, 
	.widget_archive *, 
	.widget_meta *, 
	.cmsmasters_slider_project .cmsmasters_slider_project_cont_info,
	.cmsmasters_slider_project .cmsmasters_slider_project_cont_info a,
	.cmsmasters_slider_post .cmsmasters_slider_post_cont_info,
	.cmsmasters_slider_post .cmsmasters_slider_post_cont_info a,
	.cmsmasters_slider_post_read_more,
	.cmsmasters_pricing_table .cmsmasters_period,
	.cmsmasters_counters .cmsmasters_counter_title,
	.cmsmasters_stats.stats_mode_bars.stats_type_horizontal .cmsmasters_stat_wrap .cmsmasters_stat_counter_wrap,
	.cmsmasters_stats.stats_mode_bars.stats_type_vertical .cmsmasters_stat_wrap .cmsmasters_stat_counter_wrap,
	.cmsmasters_stats.stats_mode_circles .cmsmasters_stat_wrap .cmsmasters_stat_title, 
	.cmsmasters_stats.stats_mode_bars .cmsmasters_stat_wrap .cmsmasters_stat .cmsmasters_stat_inner .cmsmasters_stat_counter_wrap, 
	.cmsmasters_quotes_grid .cmsmasters_quote_subtitle_wrap,
	.cmsmasters_quotes_grid .cmsmasters_quote_subtitle_wrap a,
	.cmsmasters_quotes_slider_type_box .cmsmasters_quote_subtitle_wrap,
	.cmsmasters_quotes_slider_type_box .cmsmasters_quote_subtitle_wrap a,
	.cmsmasters_archive_item_type,
	.cmsmasters_archive_item_info,
	.cmsmasters_archive_item_info a,
	.cmsmasters_open_profile .profile_details, 
	.cmsmasters_open_profile .profile_details a, 
	.cmsmasters_open_profile .profile_features,
	.cmsmasters_open_profile .profile_features a,
	.cmsmasters_open_project .project_details_item, 
	.cmsmasters_open_project .project_details_item a, 
	.cmsmasters_open_project .project_features_item,
	.cmsmasters_open_project .project_features_item a,
	.cmsmasters_project_puzzle .cmsmasters_project_cont_info,
	.cmsmasters_project_puzzle .cmsmasters_project_cont_info a,
	.cmsmasters_project_grid .cmsmasters_project_read_more,
	.cmsmasters_project_grid .cmsmasters_project_category,
	.cmsmasters_project_grid .cmsmasters_project_category a,
	.cmsmasters_open_post > .cmsmasters_post_cont_info .cmsmasters_post_info a span, 
	.post.cmsmasters_puzzle_type .puzzle_post_content_wrapper .cmsmasters_post_footer > span,
	.post.cmsmasters_puzzle_type .puzzle_post_content_wrapper .cmsmasters_post_footer > span a,
	.comment-respond label,
	.cmsmasters_input label,
	.cmsmasters_radio > label,
	.cmsmasters_checkboxes > label,
	.cmsmasters_textarea label,
	.cmsmasters_select label,
	.wpcf7,
	.published,
	.cmsmasters_comment_item .comment-reply-link,
	.cmsmasters_comment_item .comment-edit-link,
	.pingslist .pingback .comment-edit-link,
	.share_posts a,
	.post_nav .post_nav_sub,
	.cmsmasters_wrap_pagination ul li .page-numbers,
	.cmsmasters_post_read_more,
	.cmsmasters_post_cont_info .cmsmasters_post_tags,
	.cmsmasters_post_cont_info .cmsmasters_post_tags a,
	.cmsmasters_post_cont_info .cmsmasters_post_author,
	.cmsmasters_post_cont_info .cmsmasters_post_author a,
	.cmsmasters_post_cont_info .cmsmasters_post_category,
	.cmsmasters_post_cont_info .cmsmasters_post_category a,
	.cmsmasters_post_default .cmsmasters_post_cont_info .cmsmasters_likes span,
	.cmsmasters_post_default .cmsmasters_post_cont_info .cmsmasters_comments span,
	.cmsmasters_breadcrumbs,
	.cmsmasters_breadcrumbs a{
		font-family:'Crimson Text', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:16px;
		line-height:22px;
		font-weight:normal;
		font-style:italic;
		text-transform:none;
		text-decoration:none;
	}
	
	.cmsmasters_pricing_table .cmsmasters_period,
	.cmsmasters_counters .cmsmasters_counter_title,
	.cmsmasters_stats.stats_mode_circles .cmsmasters_stat_wrap .cmsmasters_stat_title {
		font-size:18px;
	}
	
	.wpcf7,
	.cmsmasters_input label,
	.cmsmasters_radio > label,
	.cmsmasters_checkboxes > label,
	.cmsmasters_textarea label,
	.cmsmasters_select label,
	.comment-respond label {
		font-size:15px;
	}
	
	.widget_custom_posts_tabs_entries .cmsmasters_tabs .cmsmasters_lpr_tabs_cont > .published,
	.cmsmasters_open_post > .cmsmasters_post_cont_info .cmsmasters_post_info a span, 
	.cmsmasters_comment_item .comment-reply-link,
	.cmsmasters_comment_item .comment-edit-link,
	.pingslist .pingback .comment-edit-link,
	.cmsmasters_comment_item .cmsmasters_comment_item_date,
	.cmsmasters_single_slider_item .published,
	.cmsmasters_post_default .cmsmasters_post_cont_info .cmsmasters_likes span,
	.cmsmasters_post_default .cmsmasters_post_cont_info .cmsmasters_comments span {
		font-size:14px;
		line-height:20px;
	}
	
	.cmsmasters_open_profile .profile_sidebar .cmsmasters_likes a:before, 
	.cmsmasters_open_profile .profile_sidebar .cmsmasters_comments a:before,
	.cmsmasters_open_project .project_sidebar .cmsmasters_likes a:before, 
	.cmsmasters_open_project .project_sidebar .cmsmasters_comments a:before {
		line-height:20px;
	}
	
	.widget_categories ul li:before, 
	.widget_archive ul li:before {
		top:12px;
	}
	/* Finish H6 Font */


	/* Start Button Font */
	.cmsmasters_button, 
	.button, 
	input[type=submit], 
	input[type=button], 
	button {
		font-family:'Montserrat', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:12px;
		line-height:42px;
		font-weight:bold;
		font-style:normal;
		text-transform:uppercase;
	}
	
	.share_wrap > a:before {
		font-size:14px;
	}
	
	.cmsmasters_items_filter_wrap .cmsmasters_items_sort_but,
	.cmsmasters_items_filter_wrap .cmsmasters_items_filter_list li a {
		line-height:40px;
	}
	
	.gform_wrapper .gform_footer input.button, 
	.gform_wrapper .gform_footer input[type=submit] {
		font-size:12px !important;
	}
	
	.cmsmasters_button.cmsmasters_but_icon_dark_bg, 
	.cmsmasters_button.cmsmasters_but_icon_light_bg, 
	.cmsmasters_button.cmsmasters_but_icon_divider, 
	.cmsmasters_button.cmsmasters_but_icon_inverse {
		padding-left:62px;
	}
	
	.cmsmasters_button.cmsmasters_but_icon_dark_bg:before, 
	.cmsmasters_button.cmsmasters_but_icon_light_bg:before, 
	.cmsmasters_button.cmsmasters_but_icon_divider:before, 
	.cmsmasters_button.cmsmasters_but_icon_inverse:before, 
	.cmsmasters_button.cmsmasters_but_icon_dark_bg:after, 
	.cmsmasters_button.cmsmasters_but_icon_light_bg:after, 
	.cmsmasters_button.cmsmasters_but_icon_divider:after, 
	.cmsmasters_button.cmsmasters_but_icon_inverse:after {
		width:42px;
	}
	/* Finish Button Font */


	/* Start Small Text Font */
	small,
	form .formError .formErrorContent {
		font-family:'Crimson Text', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:14px;
		line-height:22px;
		font-weight:normal;
		font-style:italic;
		text-transform:none;
	}
	
	.gform_wrapper .description, 
	.gform_wrapper .gfield_description, 
	.gform_wrapper .gsection_description, 
	.gform_wrapper .instruction {
		font-family:'Crimson Text', Arial, Helvetica, 'Nimbus Sans L', sans-serif !important;
		font-size:14px !important;
		line-height:22px !important;
	}
	/* Finish Small Text Font */


	/* Start Text Fields Font */
	input:not([type=submit]):not([type=button]):not([type=radio]):not([type=checkbox]),
	textarea,
	select,
	option {
		font-family:'Source Sans Pro', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:15px;
		line-height:20px;
		font-weight:normal;
		font-style:normal;
	}
	
	.gform_wrapper input:not([type=submit]):not([type=button]):not([type=radio]):not([type=checkbox]),
	.gform_wrapper textarea, 
	.gform_wrapper select {
		font-size:15px !important;
	}
	/* Finish Text Fields Font */


	/* Start Blockquote Font */
	.cmsmasters_quotes_grid .cmsmasters_quote_content,
	.cmsmasters_quotes_slider_type_box .cmsmasters_quote_content,
	blockquote {
		font-family:'Crimson Text', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:20px;
		line-height:32px;
		font-weight:normal;
		font-style:italic;
	}
	
	q {
		font-family:'Crimson Text', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-weight:normal;
		font-style:italic;
	}
	/* Finish Blockquote Font */

/***************** Finish Theme Font Styles ******************/



/***************** Start Gutenberg Module Custom Font Styles ******************/
	
	 blockquote:before {
		font-family:'Montserrat', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-weight:bold;
		font-style:normal;
		font-size:50px;
		line-height:50px;
	}
	
	 .wp-block-table thead th,
	 .wp-block-table thead td,
	 .wp-block-table tfoot th,
	 .wp-block-table tfoot td,
	 .wp-block-freeform.mce-content-body > table thead th,
	 .wp-block-freeform.mce-content-body > table thead td,
	 .wp-block-freeform.mce-content-body > table tfoot th,
	 .wp-block-freeform.mce-content-body > table tfoot td {
		font-family:'Montserrat', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:15px;
		line-height:22px;
		font-weight:bold;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	
	 .wp-block-table thead th,
	 .wp-block-table thead td,
	 .wp-block-table tfoot th,
	 .wp-block-table tfoot td,
	 .wp-block-freeform.mce-content-body > table thead th,
	 .wp-block-freeform.mce-content-body > table thead td,
	 .wp-block-freeform.mce-content-body > table tfoot th,
	 .wp-block-freeform.mce-content-body > table tfoot td {
		font-size:15px;
		font-weight:normal;
	}

/***************** Finish Gutenberg Module Custom Font Styles ******************/





/***************** Start Gutenberg Module General Font Styles ******************/

	/* Start Content Font */
	body .editor-styles-wrapper,
	body .editor-styles-wrapper p,
	.editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce .gallery .gallery-caption,
	 p.has-drop-cap:not(:focus)::first-letter,
	 .wp-block-image figcaption,
	 .wp-block-gallery .blocks-gallery-image figcaption,
	 .wp-block-gallery .blocks-gallery-item figcaption,
	 .wp-block-gallery .gallery-item .gallery-caption,
	 .wp-block-audio figcaption,
	 .wp-block-video figcaption,
	 .wp-caption dd,
	 div.wp-block ul,
	 div.wp-block ul > li,
	 div.wp-block ol,
	 div.wp-block ol > li,
	 .wp-block-latest-comments.has-avatars .wp-block-latest-comments__comment-meta, 
	 .wp-block-latest-comments .wp-block-latest-comments__comment-meta,
	 .wp-block-latest-comments.has-avatars .wp-block-latest-comments__comment-excerpt p, 
	 .wp-block-latest-comments .wp-block-latest-comments__comment-excerpt p,
	 .wp-block-freeform,
	 .wp-block-freeform p,
	 .wp-block-freeform.mce-content-body {
		font-family:'Source Sans Pro', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:15px;
		line-height:22px;
		font-weight:normal;
		font-style:normal;
	}
	
	 p.has-drop-cap:not(:focus)::first-letter {
		font-size:3em;
		line-height:1.2em;
	}
	/* Finish Content Font */
	
	
	/* Start Link Font */
	.editor-styles-wrapper a,
	.editor-styles-wrapper .wp-block-file .wp-block-file__textlink .editor-rich-text__tinymce {
		font-family:'Source Sans Pro', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:15px;
		line-height:22px;
		font-weight:normal;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	/* Finish Link Font */
	
	
	/* Start H1 Font */
	 .wp-block-heading h1,
	 .wp-block-heading h1.editor-rich-text__tinymce,
	body .editor-styles-wrapper h1,
	.editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce h1,
	.editor-post-title__block .editor-post-title__input {
		font-family:'Montserrat', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:42px;
		line-height:48px;
		font-weight:bold;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	/* Finish H1 Font */
	
	
	/* Start H2 Font */
	 .wp-block-heading h2,
	 .wp-block-heading h2.editor-rich-text__tinymce,
	body .editor-styles-wrapper h2,
	.editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce h2,
	 h2.editor-rich-text__tinymce,
	 .wp-block-cover h2, 
	 .wp-block-cover .wp-block-cover-image-text, 
	 .wp-block-cover-image h2, 
	 .wp-block-cover-image .wp-block-cover-image-text {
		font-family:'Montserrat', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:28px;
		line-height:36px;
		font-weight:bold;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	/* Finish H2 Font */
	
	
	/* Start H3 Font */
	 .wp-block-heading h3,
	 .wp-block-heading h3.editor-rich-text__tinymce,
	body .editor-styles-wrapper h3,
	.editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce h3 {
		font-family:'Montserrat', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:20px;
		line-height:26px;
		font-weight:bold;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	/* Finish H3 Font */
	
	
	/* Start H4 Font */
	 .wp-block-heading h4,
	 .wp-block-heading h4.editor-rich-text__tinymce,
	body .editor-styles-wrapper h4,
	.editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce h4 {
		font-family:'Crimson Text', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:20px;
		line-height:24px;
		font-weight:normal;
		font-style:italic;
		text-transform:none;
		text-decoration:none;
	}
	/* Finish H4 Font */
	
	
	/* Start H5 Font */
	 .wp-block-heading h5,
	 .wp-block-heading h5.editor-rich-text__tinymce,
	body .editor-styles-wrapper h5,
	.editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce h5 {
		font-family:'Montserrat', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:16px;
		line-height:22px;
		font-weight:bold;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	/* Finish H5 Font */
	
	
	/* Start H6 Font */
	 .wp-block-heading h6,
	 .wp-block-heading h6.editor-rich-text__tinymce,
	body .editor-styles-wrapper h6,
	.editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce h6 {
		font-family:'Crimson Text', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:16px;
		line-height:22px;
		font-weight:normal;
		font-style:italic;
		text-transform:none;
		text-decoration:none;
	}
	/* Finish H6 Font */
	
	
	/* Start Button Font */
	 .wp-block-button .wp-block-button__link,
	 .wp-block-file .wp-block-file__button {
		font-family:'Montserrat', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:12px;
		line-height:42px;
		font-weight:bold;
		font-style:normal;
		text-transform:uppercase;
	}
	/* Finish Button Font */
	
	
	/* Start Small Text Font */
	 small,
	 .wp-block-latest-posts .wp-block-latest-posts__post-date,
	 .wp-block-latest-comments .wp-block-latest-comments__comment-date {
		font-family:'Crimson Text', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:14px;
		line-height:22px;
		font-weight:normal;
		font-style:italic;
		text-transform:none;
	}
	/* Finish Small Text Font */
	
	
	/* Start Text Fields Font */
	.editor-styles-wrapper select,
	.editor-styles-wrapper option,
	 .wp-block-search .wp-block-search__input {
		font-family:'Source Sans Pro', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:15px;
		line-height:20px;
		font-weight:normal;
		font-style:normal;
	}

	 .wp-block-search .wp-block-search__button {
		line-height:20px;
	}
	
	.editor-styles-wrapper select {
		line-height:1em;
	}
	/* Finish Text Fields Font */
	
	
	/* Start Blockquote Font */
	 .wp-block-quote,
	 .wp-block-quote.is-large,
	 .wp-block-quote.is-style-large,
	 .wp-block-pullquote,
	.editor-styles-wrapper .wp-block-freeform blockquote,
	.editor-styles-wrapper .wp-block-freeform blockquote p {
		font-family:'Crimson Text', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:20px;
		line-height:32px;
		font-weight:normal;
		font-style:italic;
	}
	
	 .wp-block-quote.is-large,
	 .wp-block-quote.is-style-large {
		font-size:24px;
		line-height:36px;
	}
	
	 .wp-block-pullquote {
		font-size:16px;
		line-height:28px;
	}
	
	.editor-styles-wrapper q {
		font-family:'Crimson Text', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-weight:normal;
		font-style:italic;
	}
	/* Finish Blockquote Font */

/***************** Finish Gutenberg Module General Font Styles ******************/

